.navbar.blog{
    background: #fff;
}
.navbar.blog .nav > li > a {
    text-decoration: none;
    color: #333;
    padding: 13px 10px;
    display: block;
}
/* start nav-blog section */
.nav-blog{
    background-color: #FAFAFA;
    height: 150px;
}

.nav-blog-content{
    overflow: hidden;
    padding: 80px 10px;
}

.breadcrumb-list{
    float: right;
}

.nav-blog-title{
    float: left;
    text-transform: capitalize;
    font-size: 40px;
}
.breadcrumb-list li{
    display:inline-block;
    padding: 10px 5px;
}

.breadcrumb-list li+ li::before{
    content: "/";
    margin-right: 10px;
}

.breadcrumb-list li a{
    text-decoration: none;
    color: #6195FF;
    text-transform: capitalize;
}

.breadcrumb-list li a:hover{
    text-decoration: underline;
}
/* end nav-blog section */


/* start blog-home section */

.blog-home{
    overflow: hidden;
}

.blog-home-left{
    float: left;
    width: 70%;
}

.home-item{

}

.home-img img{
    width: 100%;
}
.home-item-content .icons-list{
    list-style: none;
}

.icons-list{
    margin: 20px 0;
}

.icons-list-item{
    display:inline-block;
}

.icons-list-item i{
    color: #6195ff;
    margin-right: 8px;
}

.home-item-title{
    margin-bottom: 17px;
}

.home-item-desc{
    color: #ccc;
    line-height: 1.5;
}


/* start blog-home section */

.home-item-content a{
    padding: 8px;
    display: inline-block;
    background-color: #f4f4f4;
    text-decoration: none;
    text-transform: capitalize;
    color: #6195ff;
    margin-top: 20px;
}


.home-item-content a:hover{
    background-color: #6195ff;
    color: #fff;
}

.home-item-content a i{
    margin-right: 5px;
}

.home-item-content .heading2-title{
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 8px;
}


.blog-home-right{
    width: 28%;
    float: left;
    margin-left: 2%;
}

.search{
    background: #FAFAFA;
    width: 290px;
    height: 40px;
    position: relative;
}
.search input{
    border: 0;
    background: none;
    height: 100%;
    width: 100%;
}

.btn-search{
    height: 100%;
    border: none;
    font-size: 20px;
    color: #ccc;
    width: 41px;
    position: absolute;
    top: 0px;
    left: 248px;
    background: #FAFAFA;
    
}
.btn-search i{
    line-height: 38px;
}


.blog-home-right .section-header{
    text-align: left;
    margin-top: 10px;
    position: relative;
}

.blog-home-right .section-title{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin-top: 37px;
}


.blog-home-right .line{
    width: 40px;
    height: 4px;
    background-color: #5B85DA;
    display: block;
    position: absolute;
    left: 0;
    top: 36px;
}

/* categories */

.categories{
    margin-top: 30px;
    position: relative;
    width: 290px;
}
.category-item {
    /* border-bottom: 1px solid #ccc; */
    border-top: 1px solid #ccc;
    padding: 8px 0;
}

.double{
     border-bottom: 1px solid #ccc;
     border-top: 1px solid #ccc;
}
.category-item a{
    text-transform: capitalize;
    text-decoration: none;
    color: #333;
}

.category-item a:hover{
    color: #6195ff;
}

.padage{
    position: absolute;
    right: 3px;
    color: #6195ff;
}

/* videos */

.videos{
    width: 290px;
    margin-top: 45px;
}

.video-item{
    overflow: hidden;
    margin-bottom: 30px
}

.video-item .video-img{
    width: 85px;
    height: 60px;
    float: left;
}

.video-img img{
    width: 100%;
    height: 100%;
}

.video-content{
    width: 140px;
    float: left;
    margin-left: 10px;
}

.video-title{
    font-size: 15px;
    font-weight: normal;
}

.date{
    margin-top: 10px;
    font-size: 13px;
}


/* links */

.links{
    margin-top: 45px;
    width: 227px;
}

.links a{
    text-transform: capitalize;
    text-decoration: none;
    color: #333;
    background: #FAFAFA;
    padding: 8px;
    display: inline-block;
    margin-bottom: 5px;
}

.links a:hover{
    background-color: #6195ff;
    color: #fff;
}

/* post */

.post{
    border: 1px solid #ccc;
    padding: 15px; 
    overflow: hidden;
    margin-top: 30px;
    position: relative;
}

.post-img{
    height: 160px;
    width: 170px;
    float: left;
}

.post-img img{
    width: 100%;
    height: 100%;
}

.post-header{
    padding: 10px 5px;
    float: left;
    width: 536px;
    position: relative;
    margin-left: 8px;
}

.post-header::after{
    content: "";
    background-color: #ccc;
    height: 1px;
    display: block;
    position: absolute;
    top: 70px;
    left: 11px;
    width: 97%;
}
.post-header-title{
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 10px;
    font-weight: bold;
}
.social{
    float: right;
    list-style: none;
    margin-top: 10px;
}
.social li{
    display: inline-block;
}

.social li a{
    width: 30px;
    height: 30px;
    background:#6195FF;
    display: block;
    border-radius: 3px;
    text-align: center;
}


.social li a i{
    line-height: 30px;
    color: #fff;
}

.post-desc{
    position: absolute;
    left: 195px;
    bottom: 49px;
    right: 37px;
    line-height: 1.5;
    color: #999;
    margin-left: 8px;
}


.blog-home-left .section-header {
    text-align: left;
    margin-top: 10px;
    position: relative;
}
.blog-home-left .section-title {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin-top: 37px;
    text-align: left;
}

.blog-home-left .line {
    width: 40px;
    height: 4px;
    background-color: #5B85DA;
    display: block;
    position: absolute;
    left: 0;
    top: 36px;
}


/* comments */


.comments{
    border: 1px solid #ccc;
    margin-top:40px;
    padding-bottom: 15px;
}
.comment{
    height: 115px;
    padding: 20px;
    border-bottom: none;
}

.comment:first-child{
    border-bottom: 1px solid #ccc;
}

.active-comment{
    border: 2px solid #5B85DA;
    height: 114px;
    width: 95%;
    margin: auto;
    padding: 20px;
    background-color: #F4F4F4;
}

.active-comment:last-child{
    border: 2px solid #ccc;
    border-top: none;
    background-color: #fff;
}

.comment-img{
    height: 70px;
    width: 10%;
    float: left;
}

.comment-img img{
    height: 100%;
    width: 100%;
}

.comment-content{
    float: left;
    width: 85%;
    margin-left: 10px;
}
.comment-header{
    position: relative;
}
.comment-header-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.comment-header-link{
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #5B85DA;
    font-size: 13px;
}

.comment-desc{
    line-height: 1.4;
    color: #999;
}

.comment-time{
    position: absolute;
    left: 120px;
    top: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
}


.single-comment{
    border: 1px solid #ccc;
    border-top: none;
    padding: 15px;
}

.sc-content{
    position: relative;
    margin-left: 22px;
    width: 96%;
}

.sc-comment-header-title{
    text-transform: uppercase;
    font-size: 18px;
}

.sc-comment-time{
    color: #999;
    position: absolute;
    top: 5px;
    left: 115px;
    text-transform: uppercase;
    font-size: 12px;
}

.sc-comment-header-link{
    right: 0;
    position: absolute;
    top: 0;
}

.sc-comment-desc{
    line-height: 1.4;
    color: #999;
    margin-top: 10px;
    width: 98%;
}

.sc-comment-header-link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    color: #5B85DA;
}

/* contact */

.contact-form{
    margin-top: 50px;
}

.contact-form input{
    height: 40px;
    width: 49%;
    background: #F4F4F4;
    border: 0;
    border-radius: 4px;
    margin-bottom: 20px;
}

.contact-form input:first-child{
    margin-right: 10px;
}
.contact-form textarea{
    background-color: #F4F4F4;
    border: 0;
    border-radius: 4px;
    width: 100%;
    height: 70px;
}

.form-control-btn{
    height: 40px;
    width: 150px;
    border: 0;
    color: #fff;
    background-color: #5B85DA;
    border-radius: 4px;
    text-transform: capitalize;
    margin-top: 20px;
}
/* start navbar section */



/* start navbar section */