/* start footer  */

.footer{
    background-color: #333;
    text-align: center;
}

.footer-lists{
    list-style: none;
    margin: 15px 0;
}

.footer-lists li {
    display: inline-block;
}

.footer-lists li  a
{
    width: 50px;
    height: 50px;
    display: block;
    background-color: #4d90fe;
    border-radius: 4px;
    margin: 10px 5px;
}

.footer-lists li  a i{
    line-height: 50px;
    font-size: 20px;
    color: #fff;
}

.footer-desc{
    color: #868F9B;
    text-transform: uppercase;
    /* margin-top: 10px; */
}


/* end footer  */

