/* start general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Varela Round', sans-serif;
}

.clear{
    clear: both;
}

.section-header{
    text-align: center;
}

.section-title{
  text-transform: capitalize;
  font-size: 35px;
}

.line{
  width: 70px;
  height: 3px;
  background-color: #5B85DA;
  display: block;
  margin: 0 auto 70px auto;
}

.middle{
    margin: 0 3%;
}

.padding-y{
    padding: 100px 0;
}

/* sliding effect */

/* left to right effect */
.sliding-effect{
 position: relative;
}

.sliding-effect::after{
  content: "";  
  position: absolute;
  background-color: #1C1D21;
  width: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: width 0.5s;
  z-index: -1;
}
.sliding-effect:hover::after{
    width: 100%;
}
/*  end left to right effect */



/* top to bottom effect */
.sliding-effect-tb{
    position: relative;
   }
   
   .sliding-effect-tb::after{
     content: "";  
     position: absolute;
     background-color: #1C1D21;
     height: 0;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     transition: height 0.5s;
     z-index: -1;
   }
   .sliding-effect-tb:hover::after{
       height: 100%;
   }
   /*  end top to bottom effect */
    .container{
        width: 80%;
        margin: auto;
    }
/* end general */