
/* start navbar */
.navbar{
    position: fixed;
    width: 100%; /* to avoid fixed problem*/
    z-index: 5;
    background: rgba(0, 0, 0, 0.4)
}

.navbar .logo{
    width: 40%;
    float: left;
}

.navbar .logo img{
  max-width: 20%;
  cursor: pointer;
  margin-top: 2px;
}

.navbar .logo h2{
    max-width: 20%;
    cursor: pointer;
    margin-top: 7px;
    color: #fff;
  }

.navbar .nav{
    float: left;
    width: 60%;
    list-style-type: none;
}

.navbar .nav > li{
    display: inline-block;
}

.navbar .nav > li > a{
    text-decoration: none;
    color: #fff;
    padding: 13px 10px;
    display: block; /*equvalent to inline-block in this example*/
}

.navbar .nav > li > a::after ,
.navbar .nav > li > a.active::after{
    content: "";
    display: block;
    background-color: #5B85DA;
    height: 3px;
    transition: width 0.5s;
}

.navbar .nav > li > a::after{
    width: 0;
}

.navbar .nav > li > a.active::after{
    width: 100%;
}

.navbar .nav > li > a:hover::after{
    width: 100%;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    top: 60px;
    background: #547ed3;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 88%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.dropdown-menu a {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    display: block;
    /* visibility: hidden; */
}

.dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
}

/* end navbar */