
/* start home */

.home{
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.home-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
}


.title{
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    font-family: montserrat,sans-serif;
}

.home-desc{
    color: #fff;
    line-height: 24px;
    margin: 20px 0;
}

.btn{
    text-transform: capitalize;
    padding: 15px;
    width: 140px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    min-width: 165px;
    cursor: pointer;
}

.hover-opacity{
    transition: opacity 0.5s;
}

.hover-opacity:hover{
    opacity: 0.8; 
}


.btn-learn{
    background-color: #5B85DA;
    color: #fff;
    margin-left: 10px;
}
/* end home */


/* start about */

.about-content {
    /* text-align: center; */
    /* background-color: #ccc; */
    /* overflow: hidden; */
}

.about-content .about-item{
    width: 31%;
    border: 1px solid #ccc;
    padding: 52px 30px;
    text-align: center;
}


.about-item .icon{
    font-size: 34px;
    color: #6195ff;
    margin-bottom: 10px;
}

.about-item-title{
    font-size: 23px;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}

.about-item-desc{
    line-height: 1.6;
    margin-bottom: 10px;
    color: #868F9B;
}

.about-item-link{
    text-decoration: none;
    text-transform: capitalize;
    color: #537DD3;
}

.about-item:hover .about-item-title{
    color: #fff;
}
/* end about */

/* start portfolio */
.potfolio-section{
    background-color: #FAFAFA;
}
.portfolio-container{
    overflow: hidden;
}

.portfolio-container .portfolio-item{
    width: 30%;
    margin-bottom: 37px;
    padding: 20px;
    position: relative;
}

.portfolio-item .portfolio-layer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.portfolio-item:hover .portfolio-layer{
    opacity: 1;
    visibility: visible;
}

.portfolio-container .portfolio-item img{
    width: 100%;
    /* height: 100%; */
}
.portfolio-item.middle{
    margin: 0 5%;
} 

.portfolio-layer .layer-info{
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 text-align: center;
 width: 60%;
}

.layer-info .category{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

.layer-info .portfolio-title{
    color: #fff;
    margin-bottom: 10px;
    font-size: 14px;
}
.layer-info a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: royalblue;
}

.layer-info a i{
    line-height: 40px;
    color: #fff;
} 

/* end portfolio */

/* start sevices */

.service-content{
    text-align: left;
}
.service-content .service-item{
    width: 31%;
    border: 1px solid #eee;
    padding: 44px 0;
    height: 200px;
    margin-bottom: 30px;
}
.service-item:hover .service-item-title{
    color: #fff;
}
/* .service-item:hover .service-item-desc{
    color: #788F9B;
} */

.service-item .icon{
    width: 5%;
    font-size: 30px;
    color: #6195ff;
    margin-left: 14px;
    margin-top: 3px;
}

.service-item .item-content{
    width: 80%;
    margin-left: 30px;
}

.service-item-title{
    text-transform: capitalize;
    margin-bottom: 8px;
    transition: color 0.5s;
}

.service-item-desc{
    color: #788F9B;
    line-height: 1.5;
}

/* end sevices */

/* start sevices2 */
.service2{
    background-color: #FAFAFA;
}
.service2 .service2-item{
    width: 50%;
}

.service2-item .section-header{
    text-align: left;
}

.service2-item .section-header .line{
    margin: 15px 2px;
}

.service2-item-desc{
    line-height: 1.5;
    color: #868FB4;
    margin-bottom: 20px;
    padding-right: 20px;
}

.service2-list{
    list-style: none;
}

.service2-list li{
    margin-bottom: 10px;
    color: #868FB4;
}

.service2-list li i{
    color: #6195FF;
    width: 28px;
    height: 28px;
    border: 1px solid #6195FF;
    border-radius: 50%;
    padding: 7px 0px 5px 4px;
    font-size: 17px;
}

.service2-item .polets{
    text-align: center;
}
 .service2-item .polets li{
    display: inline-block;
    height: 12px;
    width: 12px;
    background: #eee;
    border-radius: 10px;
    margin: 0px 5px;
    cursor: pointer;
}

.service2-item .polets .active{
    display: inline-block;
    height: 12px;
    width: 19px;
    background: #6195ff;
    border-radius: 10px;
    margin: 0px 5px;
    cursor: pointer;
}


.service2-item .polets li:hover{
    background-color: #6195ff;
}

.service2-img img{
    width: 100%;
}

/* end sevices2 */

/* strat numbers */

.numbers-section{
    position: relative;
    background-image: url(../images/background/background2.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}

.numbers-section .items{
    overflow: hidden;
}
.number-item{
    width: 25%;
    text-align: center;
}

.number-item .fa{
    color: #6195FF;
    font-size: 36px;
    margin-bottom: 15px;
}

.number-item-title{
    color: #fff;
    font-size: 33px;
}
.number-item-desc{
    color: #fff;
    margin-top: 10px;
}
/* end numbers */

/* start pricing section */

.pricing-content{
    overflow: hidden;
}

.pricing-item{
    width: 30%;
    padding: 20px 15px;
    border: 1px solid #FAFAFA;
    text-align: center;
}

.pricing-item-title{
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    display: block;
    transition: color 0.5s;
    color: #958B82;
}

.circle{
    width: 130px;
    height: 130px;
    background-color: #FFF;
    border: 2px solid #4D72BF;
    border-radius: 50%;
    margin: 20px auto;
    padding: 30px 0;
    transition: color 0.5s;
}
.circle-title{
    font-size: 38px;
}
.month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.pricing-list{
    list-style: none;
}

.pricing-list-item{
    color: #999;
    line-height: 1.8;
}
.purchase{
    height: 40px;
    width: 170px;
    background-color: #fff;
    border: 2px solid #4d72bf;
    text-transform: uppercase;
    color: #4d72bf;
    cursor: pointer;
    display: block;
    margin: 15px auto;
    transition: color 0.5s;
}

.pricing-item:hover .pricing-item-title,
.pricing-item:hover .circle,
.pricing-item:hover .purchase{
 background-color: #1C1D21;
}

.pricing-item:hover .circle{
    color: #FFF;
}

.pricing-item:hover .pricing-item-title{
    color: #4D72BF;
}
/* end pricing section */
/* start testmonials  */

.testmonials{
    background-image: url(../images/background/background3.webp);
    background-attachment: fixed;
    position: relative;
    height: 400px;
}

.testmonials-content{
    overflow: hidden;
    padding: 100px 0;
}

.testmonial-item{
    width: 45%;
    color: #fff;
    margin-left: 4%;
}

.testmonial-toplayer img{
    border-radius: 50%;
}
.avatar-content{
    margin-left: 30px;
    margin-top: 10px;
    text-transform: capitalize;
}
.toplayer-title{
    margin-bottom: 6px;
}

.toplayer-job{
    color: #5F92F9;
    text-transform: uppercase;
    margin-top: 8px;
}
.testmonial-item-desc{
    line-height: 1.6;
    margin-top: 10px;
    width: 450px;
}
/* end testmonials  */
/* end team  */

.team-content{
    overflow: hidden;
}

.team-item{
 width: 30%;
 background-color: #e8e8e8;
 padding: 40px 15px;
 text-align: center;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}

.team-item .team-img img{
    width: 100%;
}

.team-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    /* font-size: 20px; */
    color: #fff;
    margin-left: auto;
    background-color: #698BCE;
}

.team-overlay a i{
    line-height: 40px
}

.team-info-title{
    margin: 8px;
    text-transform: capitalize;
    color: #333;
    transition: color 0.5s;
}

.team-info-desc{
    color: #9e9e9e;
    text-transform: uppercase;
    transition: color 0.5s;
}

.team-item.sliding-effect-tb{
    z-index: 1;
}

.team-item:hover .team-overlay{
    opacity: 1;
    visibility: visible;
}

.team-item:hover .team-info-title{
    color:#fff;
}

.team-item:hover .team-info-desc{
    color:#5F92F9;
}

/* end team  */


/* start recent-news section  */
.recent{
    background-color: #FAFAFA;
}
.recent-content{
    overflow: hidden;
   
}

.recent-item{
    width: 30%;
}


.recent-img{
    width: 100%;
}

.recent-img img{
    width: 100%;
    height: 100%;
}

.icons-list{
    list-style: none;
}

.icons-list-item{
    display: inline-block;
    margin: 8px;
}

.icons-list-item i{
    color: #6195FF;
    margin-right: 5px;
}

.recent-item-title{
    color: #10161a;
    font-size: 24px;
    margin: 10px 0;
    font-weight: bold;
}

.recent-item-desc{
    color: #868F9B;
    line-height: 1.5;
}

.recent-item-link{
    color: #A1C0FF;
    text-transform: capitalize;
    text-decoration: none;
    margin: 10px 0;
    display: block;
}

.recent-item-content{
    background-color: #fff;
    padding: 10px;
}

/* end recent-news section  */
/* start form  */

.form-container{
    width: 90%;
    margin: auto;
}
.contacts{
    overflow: hidden;
}

.contacts-item{
    text-align: center;
    width: 33%;
}
.contacts-item i{
    color: #6195FF;
    font-size: 2em;
    display: block;
}

.contacts-heading{
    color: #10161A;
    font-size: 1.5em;
    margin: 15px 0;
    display: block;
    font-weight: bold;
}

.contact-form{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.mail{
    width: 100%;
}
.mail .form-control{
    width: 48%;
    margin-right: 2%;
}
.form-control{
    height: 40px;
    background-color: #F4F4F4;
    border: 0;
    border-radius: 3px;
    width: 98%;
    margin-bottom: 20px;

}

textarea.form-control{
    background-color: #F4F4F4;
    border: 0;
    border-radius: 3px;
    width: 98%;
    margin-bottom: 10px;
    height: 100px;
}

.form-control-btn{
    display: block;
    margin: auto;
    height: 60px;
    width: 250px;
    background-color: #4d90fe;
    border: 0;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 0px;
    margin-top:10px;
    cursor: pointer;
    border-radius: 4px;
}
/* end form  */




